<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="profilePage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left-side">
          <div class="text-box">
            <div class="text-box-title">today's expected money</div>
            <div class="text-box-inside">moneyyyyy</div>
          </div>
          <div class="calendar"></div>
          <div class="booked-times">
            <div class="booked-time-date">CHOOSEN DATE</div>
            <div class="booked-time">
                <div class="time">10:00-11:00
                    <span>service name</span>
                </div>
                <div class="time">10:00-11:00</div>

                <div class="time">10:00-11:00</div>
                <div class="time">10:00-11:00</div>

                <div class="time">10:00-11:00</div>


            </div>
          </div>
        </div>
        <div class="right-side">
            <div class="profile">
                <div class="profile-photo"></div>
                <div class="user-info">
                    <div class="details"><p><b>FIRSTNAME</b></p>
                            <span>SIrojiddin</span>    
                    </div>
                    <div class="details"><p><b>LASTNAME</b></p></div>
                    <div class="details"><p><b>PHONE NUMBER</b></p></div>
                    <div class="details"><p><b>USERNAME</b></p></div>
                    <div class="details"><p><b>COMPANY NAME</b></p></div>
                    <div class="details"><p><b>OCCUPATION</b></p></div>

                </div>
            </div>
            <div class="active-orders">
                <div class="furtherdates">
                    <button class="date"></button>
                    <button class="date"></button>
                    <button class="date"></button>
                    <button class="date"></button>
                    <button class="date"></button>
                    <button class="date"></button> 
                    <button class="date"></button>
                    <button class="date"></button>              
                </div>
                <div class="order-types">
                    <button type="submit" class="order-type">REQUESTED</button>
                    <button type="submit" class="order-type">ACCEPTED</button>
                    
                </div>
                <div class="orders">
                    <div class="order">
                        <div class="order-info"><b>USERNAME</b>
                            <span>SERVICE NAME AT COMPANY NAME</span>
                        </div>
                        <div class="order-info" id="accept-decline">
                            <div class="acc-dec">
                                <button class="acc-dec-but" id="accept">ACCEPT</button>
                                <button class="acc-dec-but" id="decline">DECLINE</button>
                            </div>
                        </div>
                        <div class="order-info">TIME</div>
                        <div class="order-info">STATUS</div>
                    </div>
                    <div class="order"></div>
                    <div class="order"></div>
                    <div class="order"></div>

                </div>
            </div>
            </div>
        </div>
      </div>
      <script src="script.js"></script>
</body>
</html>