<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Service Page</title>
    <link rel="stylesheet" href="servicePage.css">
  </head>
  <body>
    <div class="container">
      <h1 th:text="${service}"></h1>
      <div class="price">PRICE
          <span th:text="${service.getPrice()}"></span>
      </div>
      <div class="text-masters">
          <p>MASTERS</p>
      </div>
      <form>
      <div class="masters" th:each="master:${service.getMastersUsernames()}">
          <button class="masters-button" th:value="*{master}"></button>
      </div>
      </form>
      <div class="all-dates">
        <p><b>DATES</b></p>
      <div class="furtherdates" th:each="">
        <button th:href="@{}" class="date"></button>

    </div>
  </div>    
    <div class="text-masters">
          <p>HIS TIME</p>
      </div>
      <div class="times">
        <button class="time-button" data-time="9:00-10:00">9:00-10:00</button>

      </div>
      <form id="booking-form" action="#" method="post">
        <input type="hidden" id="selected-time" name="selected-time" value="">
        <input type="submit" id="submit-button" value="Book Now" disabled>
      </form>
  </div>
    <script>



      var buttons1 = document.querySelectorAll('.time-button');
      buttons1.forEach(function(button) {
        button.addEventListener('click', function() {
          // Remove selected class from all buttons
          buttons1.forEach(function(button) {
            button.classList.remove('selected');
          });
          // Add selected class to clicked button
          this.classList.add('selected');
        });
      });

      var buttons2 = document.querySelectorAll('.masters-button');

      buttons2.forEach(function(button) {
        button.addEventListener('click', function() {
          // Remove selected class from all buttons
          buttons2.forEach(function(button) {
            button.classList.remove('selected');
          });
          // Add selected class to clicked button
          this.classList.add('selected');
        });
      });

      var weekDays = ['Sun', 'Mon', 'Tues', 'Wed', 'Thur', 'Fri', 'Sat'];
      var buttons = document.getElementsByClassName('date');

      var todayValue;
      for (let i = 0; i < buttons.length; i++) {
        let today = new Date();
        today.setDate(today.getDate() + i);
        //today = today.toLocaleDateString();
        todayValue = today.toLocaleDateString();
        today = today.getDate() + ", " + weekDays[today.getDay()];
        buttons[i].value = todayValue;
        if (i === 0) {
          buttons[i].textContent = "TODAY";
        } else if (i === 1) {
          buttons[i].textContent = "TOMORROW";
        } else {
          buttons[i].textContent = today;
        }
      }

    </script>
  </body>
</html>